<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'home' %}">Project CRM</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
      {% if user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'add_record' %}">Add Record &nbsp; <i class="fa-regular fa-user-plus"></i> &nbsp;</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'logout' %}">Logout &nbsp; <i class="fa-solid fa-arrow-right-from-bracket"></i> &nbsp;</a>
        </li>

      {% else %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'register' %}">Register &nbsp;<i class="fa-regular fa-address-book"></i> &nbsp;</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'home' %}">Login <i class="fa-sharp-duotone fa-solid fa-angles-right"></i></a>
        </li>

      {% endif %}
      </ul>
    </div>
  </div>
</nav>